@font-face {
    font-family: 'Hellix';
    src: url('fonts/Hellix-Regular.otf');
    font-weight: 400;
}

@font-face {
    font-family: 'Hellix';
    src: url('fonts/Hellix-Bold.otf');
    font-weight: 700;
}

@font-face {
    font-family: 'Hellix';
    src: url('fonts/Hellix-ExtraBold.otf');
    font-weight: 1000;
}

.root{
    -fx-font-family: 'Hellix';
}

.username{
    -fx-font-weight: 400;
    -fx-font-size: 12pt;
}

.background {
    -fx-background-color: #ffffff;
}

.title-text{
    -fx-font-size: 24px;
    -fx-text-fill: #003366;
    -fx-background-color: -fx-text-box-border, -fx-background ;
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-background-radius: 0 ;
}

.title-text:focused {
    -fx-font-size: 24px;
    -fx-text-fill: #003366;
    -fx-background-color: -fx-text-box-border, -fx-background ;
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-background-radius: 0 ;
}

.text-field {
    -fx-font-size: 12pt;
}

.search-field {
    -fx-border-radius: 5;
    -fx-border-color: #003366;
    -fx-border-width: 2;
    -fx-background-radius: 5;
    -fx-background-color: #DFE7EE;
    -fx-font-size: 12pt;
    -fx-text-fill: #003366;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.filter-button {
    -fx-border-radius: 5;
    -fx-border-color: #003366;
    -fx-border-width: 2;
    -fx-background-radius: 5;
    -fx-background-color: #ffffff;
    -fx-font-size: 12pt;
    -fx-text-fill: #003366;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.filter-button:hover {
    -fx-background-color: rgba(0,51,102,0.5);
}

.filter-button:pressed{
    -fx-background-color: rgba(0,51,102,1);
}

.delete-button {
    -fx-border-radius: 5;
    -fx-border-color: #003366;
    -fx-border-width: 2;
    -fx-background-radius: 5;
    -fx-background-color: #ffffff;
    -fx-font-size: 12pt;
    -fx-text-fill: #F95849;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.delete-button:hover {
    -fx-background-color: rgba(249,88,73,0.5);
}

.delete-button:pressed{
    -fx-background-color: rgba(249,88,73,1);
}

.export-button {
    -fx-border-radius: 5;
    -fx-border-color: #003366;
    -fx-border-width: 2;
    -fx-background-radius: 5;
    -fx-background-color: #ffffff;
    -fx-font-size: 12pt;
    -fx-text-fill: rgba(0,51,102,1);
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.export-button:hover {
    -fx-background-color: rgba(0,51,102,0.5);
}

.export-button:pressed{
    -fx-background-color: rgba(0,51,102,1);
}

.add-button {
    -fx-border-radius: 5;
    -fx-border-width: 0;
    -fx-background-radius: 5;
    -fx-background-color: rgba(0,51,102,1);
    -fx-font-size: 12pt;
    -fx-text-fill: #ffffff;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.add-button:hover {
    -fx-background-color: rgba(0,51,102,0.5);
}

.add-button:pressed{
    -fx-background-color: rgba(0,0,0,1);
}


.table-view .column-header {
    -fx-background-color: rgba(0,51,102,0.1);
    -fx-font-size: 14pt;
    -fx-text-fill: black;
}

.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}

.table-row-cell:hover {
    -fx-background-color: #93f9b911;
    -fx-text-background-color: red;
}

.table-row-cell:odd{
    -fx-background-color: #93f9b911;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:even{
    -fx-background-color: #1dbbdd11;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.logo{
    -fx-font-size: 24pt;
    -fx-font-weight: 1000;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-background-color: transparent;
}

.split-pane:vertical > .split-pane-divider {
    -fx-background-color: transparent;
}